<!Doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>
    <h1>
        <%= article.attributes.title %>
    </h1>
    <p>
        <%= article.attributes.intro %>
    </p>
    <img src=<%= article.attributes.image.url %>

</body>

</html>