<!Doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>
    <h1>
        <%= article.title %>
    </h1>

    <%- introText %>

    <img src=<%=article.image.url %>

</body>

</html>